html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container{
    background-color: black;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 10px 10px 10px;
    grid-template-rows: 10px 10px 10px;

    grid-gap: 5px;

    /* justify configura horizontal
        align configura vertical */
    justify-content: space-between;
    align-content: space-between;


}

.container > div{
    background-color: #7489c1;
}